.card-home {
  margin: auto;
  width: 50%;
}

.center-text {
  align-items: center;
  text-align: center;
}

span {
  font-weight: bold;
}

.thin-text {
  font-weight: lighter;
}

@media only screen and (max-width: 600px) {
  .card-home {
    width: 85%;
  }
}
