<header>
  <mat-toolbar color="primary">
    <h5>AI of the Tiger</h5>
  </mat-toolbar>
</header>

<div class="logo">
  <a href="/home">
    <img
      class="img-logo"
      src="https://res.cloudinary.com/christo3carrasco/image/upload/v1688137482/tiger_logo_fw3tww.png"
      alt="Logo AI of the Tiger"
    />
  </a>
</div>

<router-outlet></router-outlet>

<br />
<div class="logo">
  <button mat-raised-button color="primary" routerLink="/rewards">
    Coming soon
  </button>
</div>

<br />
<footer>
  <mat-toolbar color="primary">
    <h5 class="footer">&copy; Copyright 2023 - AI of the Tiger</h5>
  </mat-toolbar>
</footer>
